{% extends 'core/dashboard.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container" style="padding-top: 2em">
  <div class="col">
    <div class="container" style="background-color: rgba(1, 0, 0, 0.2)">
      <div class="content-section">
        <form method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          <!-- this is a required line for added security -->
          <fieldset class="form-group">
            <legend class="border-bottom mb-1">Update - Sell</legend>
             
              <!-- this block is equivalent to {{form.media}} {{form|crispy}} but was hard-coded -->
              <div id="div_id_sell_date" class="form-group">
                <label for="id_sell_date" class=" requiredField">Sell date<span class="asteriskField">*</span> </label>
                <div class="">
                  <input type="text" name="sell_date" class="dateinput form-control" required id="id_sell_date" placeholder="mm/dd/yyyy">
                </div>
              </div>

              <!-- good -->
              <div id="div_id_sell_type" class="input-group d-flex">
                <label for="id_sell_type" class=" requiredField">Sell type<span class="asteriskField">*</span> </label>
                <div class="col-6 ml-auto d-flex">
                  <select name="sell_type" class="form-control select form-control" maxlength="10" id="id_sell_type">
                    <option value="wholesale" selected>wholesale</option>
                    <option value="retail">retail</option>
                  </select>
                </div>
              </div>

              <!-- good -->
              <div id="div_id_r_sell_price" class="input-group">
                <label for="id_r_sell_price" class=" requiredField">Retail Price<span class="asteriskField">*</span> </label>
                <div class="col-6 ml-auto d-flex">
                  <div class="input-group-prepend">
                    <span class="input-group-text">$</span>
                  </div>
                  <input type="number" name="r_sell_price" value="0" step="0.01" class="numberinput form-control text-right" required id="id_r_sell_price">
                </div>
              </div>

              <!-- good -->
              <div id="div_id_w_sell_price" class="input-group">
                <label for="id_w_sell_price" class=" requiredField">Wholesale Price<span class="asteriskField">*</span> </label>
                <div class="col-6 ml-auto d-flex">
                  <div class="input-group-prepend">
                    <span class="input-group-text">$</span>
                  </div>
                  <input type="number" name="w_sell_price" value="0" step="0.01" class="numberinput form-control text-right" required id="id_w_sell_price">
                </div>
              </div>

              <!-- good -->
              <div id="div_id_sold_qty" class="input-group">
                <label for="id_sold_qty" class=" requiredField">Sold Qty<span class="asteriskField">*</span> </label>
                <div class="col-6 ml-auto d-flex">
                  <input type="number" name="sold_qty" value="0" class="numberinput form-control text-right" required id="id_sold_qty">
                  <div class="input-group-append">
                    <span class="input-group-text">pcs</span>
                  </div>
                </div>
              </div>

              <div id="div_id_selling_discount" class="input-group">
                <label for="id_selling_discount" class=" requiredField">Selling Discount<span class="asteriskField">*</span> </label>
                <div class="col col-7 col-lg-6 ml-auto d-flex">
                  <small id="hint_id_selling_discount" class="form-text text-muted">Ex: 10.5% discount = 0.105</small>
                  <input type="number" name="selling_discount" value="0.00" step="0.001" class="numberinput form-control text-right" required id="id_selling_discount">
                  
                </div>
              </div>
              <div id="div_id_notes" class="form-group"> <label for="id_notes" class="">Notes</label>
                <div class="">
                  <textarea name="notes" cols="40" rows="1" maxlength="255" class="textarea form-control" id="id_notes">
                  </textarea>
                </div>
              </div>
            </fieldset>

          <div class="form-group">
            <button class="btn btn-success" type="submit">Update</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock content %}




