<style type="text/css">
  @import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap');

  .titleFont {
    font-family: 'Gloria Hallelujah', cursive;
    justify-content: space-around;
    height: 50px;
    bottom: 0;
    color: #fff;
    isolation: isolate;
  }

  .titleFont span {
    color: #333;
    font-size: 20px;
    font-family: sans-serif;
    font-weight: 700;
    justify-content: center;
    align-items: center;
    animation: headAnimation 1.2s linear infinite;
  }
  .titleFont span:nth-child(1) {
    animation-delay: 0s;
  }
  .titleFont span:nth-child(2) {
    animation-delay: 0.1s;
  }
  .titleFont span:nth-child(3) {
    animation-delay: 0.2s;
  }
  .titleFont span:nth-child(4) {
    animation-delay: 0.3s;
  }
  .titleFont span:nth-child(5) {
    animation-delay: 0.4s;
  }
  .titleFont span:nth-child(6) {
    animation-delay: 0.5s;
  }
  .titleFont span:nth-child(7) {
    animation-delay: 0.6s;
  }
  .titleFont span:nth-child(8) {
    animation-delay: 0.7s;
  }
  .titleFont span:nth-child(9) {
    animation-delay: 0.8s;
  }
  .titleFont span:nth-child(10) {
    animation-delay: 0.9s;
  }
  .titleFont span:nth-child(11) {
    animation-delay: 1s;
  }

  @keyframes headAnimation {
    0%, 80%
    {
      color: #f2f2f2,
      box-shadow: none;

    }
    100%
    {
      color: red;
      text-shadow: 0 0 10px #fff,
            0 0 20px #fff,
            0 0 40px #fff,
            0 0 80px #fff,
            0 0 120px #fff,
            0 0 160px #fff,
    }
  }
  
  .navFontLink {
    font-weight: 700;
    color: white;
  }

  .navFontLink:hover {
    font-weight: 1000;
    color: red;
  }

  .dropdown-item:hover {
    /*color: white;*/
    cursor: pointer;
  }

  .dropdown-item img:hover {
    border: 1px solid darkgray;
    cursor: pointer;
  }
  .navLogo{
    height: 50px;
  }
  .quoteText{
    font-family: 'Gloria Hallelujah', cursive;
    font-weight: 700;
  }
  .rounded-circle:hover {
    border:  1px solid white;
  }

</style>