{% load static %}
<!-- 
  NOTE: This navigation bar is set to "expand at md" screen size. For more info, see: https://getbootstrap.com/docs/5.0/examples/navbars/.
  Don't know how to use those examples? Right-click on that page and select "View page source" then copy the block of code you feel like using.
 -->
{% include 'nav/_css.html' %}
 <nav class="navbar navbar-expand-md navbar-dark bg-black fixed-top p-0" aria-label="Main Navbar">
  <video src="/media/defaults/fiery.mp4" autoplay muted style="position: absolute; object-fit: cover; width: 100%;height: 100%; z-index: -1;"></video>
  <div class="container-fluid">
    <a class="navbar-brand" href="/"><img class="navLogo" src="/media/defaults/round.png">
      <!-- <span class="quoteText"> teppy<small>.rocks</small></span> -->
      <i class="titleFont">
        <span>t</span>
        <span>e</span>
        <span>p</span>
        <span>p</span>
        <span>y</span>
        <span>.</span>
        <span>r</span>
        <span>o</span>
        <span>c</span>
        <span>k</span>
        <span>s</span>
      </i>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainNavbar" aria-controls="mainNavbar" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse text-center" id="mainNavbar">
      <ul class="navbar-nav me-auto mb-2 mb-md-0">
        <li class="nav-item ">
          <a class="nav-link" href="/forum"><b class="headerFontLink p-2">Forum</b></a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" href="/shareable"><b class="headerFontLink p-2">Free!</b></a>
        </li>
        <li class="nav-item dropdown ">
          <a class="nav-link dropdown-toggle" href="#" id="dropdown04" data-bs-toggle="dropdown" aria-expanded="false"><b class="headerFontLink p-2">Future pages</b></a>
          <ul class="dropdown-menu bg-dark" aria-labelledby="dropdown04">
            <li><a class="dropdown-item navFontLink" href="#">Anonymous Public Diary</a></li>
            <li><a class="dropdown-item navFontLink" href="#">Anonymous chat page</a></li>
            <li><a class="dropdown-item navFontLink" href="#">What else?</a></li>
          </ul>
        </li>
        <li class="nav-item ">
          <a class="nav-link" href="/about"><b class="headerFontLink p-2">About</b></a>
        </li>
      </ul>
      <!-- User Search Form // not ideal to be included atm -->
      <!-- <form class="search-bar justify-content-start mr-3" onsubmit="return executeQuery();">
        <input type="text" class="form-control" name="q" id="nav-search-bar" placeholder="User search...">
      </form> -->
      <div  class="dropdown-divider"></div>

      <!-- right corner links -->
      <div class="dropdown show p-2">
        <div class="d-flex flex-row">

          <!-- <div class="btn-group ">
            <div class="d-flex notifications-icon-container rounded-circle align-items-center mr-4" id="id_chat_notification_dropdown_toggle" data-toggle="dropdown">
              <span id="id_chat_notifications_count" class="notify-badge"></span>
              <span class="fa fa-envelope fa-lg" title="Messages"></span>
              <div class="dropdown-menu scrollable-menu" aria-labelledby="id_chat_notification_dropdown_toggle" id="id_chat_notifications_container">
                  
              </div>
            </div>
          </div>

          <div class="btn-group ">
            <div class="d-flex notifications-icon-container rounded-circle align-items-center mr-4" id="id_notification_dropdown_toggle" data-toggle="dropdown" onclick="setGeneralNotificationsAsRead()">
              <span id="id_general_notifications_count" class="notify-badge"></span>
              <span class="fa fa-bell fa-lg" title="Notifications"></span>
              <div class="dropdown-menu scrollable-menu" aria-labelledby="id_notification_dropdown_toggle" id="id_general_notifications_container">                   
              </div>
            </div>
          </div> -->
          <a class="btn btn-sm btn-primary mr-2" title="Share something" href="shareable/add-shareable"> <i class="fas fa-plus"></i><i class="fas fa-plus"></i>
            
          </a>

          <div class="btn-group">
            <img title="{{request.user.username}}" class="account-image rounded-circle m-auto d-block dropdown-toggle" id="id_profile_links" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" src="{{request.user.profile.image.url}}" alt="profilePic" width="40" height="40">
            <div class="dropdown-menu" aria-labelledby="id_profile_links">
              <a class="dropdown-item " href="{% url 'profile' request.user.username %}">Profile</a>
              <a class="dropdown-item " href="{% url 'password-change' %}">Change password</a>
              <hr class="dropdown-divider">
              <a class="dropdown-item " href="/logout">Logout</a>
            </div>
          </div>
        </div>
      </div>
      <div  class="dropdown-divider"></div>
    </div>
  </div>
</nav>


<script type="text/javascript">
  function executeQuery() {
    var query = ""
    query = document.getElementById('nav-search-bar').value;
    window.location.replace("{% url 'user-search' %}?q=" + query)
    return false
  }

</script>